<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>

<form method="post" action="login">
    <label>Username:</label>
    <input id="username" name="username" type="text">
    <label>Passwort:</label>
    <input id="password" name="password" type="password">
    <input type="submit"/>
</form>
<div style="font-weight: bold">
    <p style="color: red">{{ error_text }}</p>
    <p style="color: darkgreen">{{ response_text }}</p>
</div>
<p>
    <a href="{{ url_for('register') }}">Register!</a>
</p>
</body>
</html>