<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form method="post" action="register">
    <p>
        <label>Username:</label>
        <input id="username" name="username" type="text">
    <p></p>
    <label>Password:</label>
    <input id="password" name="password" type="password">
    <p></p>
    <label>Confirm password:</label>
    <input id="password_confirmation" name="password_confirmation" type="password">
    <p></p>
    <p></p>
    </p>
    <fieldset>
        <input type="radio" id="plain" name="hashing" value="plain" checked="true">
        <label for="plain"> Plaintext</label><br>
        <input type="radio" id="md5" name="hashing" value="md5">
        <label for="md5"> MD5</label><br>
        <input type="radio" id="pbkdf2" name="hashing" value="pbkdf2">
        <label for="pbkdf2"> PBKDF2</label>
    </fieldset>

    <input type="submit"/>
</form>
<p style="color: red">{{ error_text }}</p>
</body>
</html>